OPENAI_API_KEY=your_key_here
OPENAI_BASE_URL=https://inference.mlmp.ti.bfh.ch/api/v1
OPENAI_MODEL=gpt-oss:120b

PUBMED_API_KEY=
PUBMED_EMAIL=your_email@example.com

# Register free key at https://www.semanticscholar.org/product/api
SEMANTIC_SCHOLAR_API_KEY=